.dropdown {

  &[aria-hidden="true"] {

    display: none !important;
  }

  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45px;
  left: -19px;
  width: 270px;
  background: $white;
  z-index: 3;
  padding-left: 0;
  box-shadow: 1px 2px 6px rgba($black, 0.1);

  li {

    width: 100%;
    display: block;
    border: none;
    padding: 0 !important;
    
    + li {

      border-top: 1px solid rgba($black, 0.1);
    }

    a {

      margin: 0 !important;
      display: block;
      padding: 12px 20px !important;
      color: $black !important;
      border: none;

      &:hover {

        background: $green;
      }
    }
  }

  &.dropdown-lg {

    top: 75px;
    width: 100%;
  }

  &.dropdown-sm {

    width: 100px;
  }

}